html, body {
    overflow-x: hidden;
    background-color: #fffbcc;
}
@media only screen and (min-width: 320px) {
    .home-page{
        text-align: center;    
    }
    .header{
        text-align: left;
        color: #fd2e2e;
        text-decoration: none;
    }
    .nc-logo{
        height: 6%;
        width: 6%;
    }
    .welcome-message{
        padding: 40px;
        color: #fd2e2e;
    }
    
    .nav-bar{
        text-align: center;
        padding: 2px;
        margin: 2px;
        border: 2px solid #fd2e2e;
        border-radius: 10%;
    }

    .nav-bar-link{
        margin: 10px;
        color: #770606;
    }
    
    .article-img {
        height: 50%;
        width: 50%;
    }
    .article-card {
        background-color: #cf1b1b;
        border: 4px solid #931c1c;
        border-radius: 1em;
        margin-bottom: 2em;
        margin-top: 2em;
        text-align: left;
        padding-left: 1em;
    }
    .link-style{
        color: #fffbcc;
        text-decoration: none;
    }
    .single-article {
        background-color: #cf1b1b;
        border: 4px solid #931c1c;
        border-radius: 1em;
        margin-bottom: 2em;
        margin-top: 2em;
        text-align: left;
        padding-left: 1em;
        color: #fffbcc;
    }
    .comment-card {
        background-color: #900d0d;
        border: 4px solid #cf1b1b;
        border-radius: 1em;
        margin-bottom: 2em;
        margin-top: 2em;
        text-align: left;
        padding-left: 1em;
        color: #fffbcc;
    }
    .loading{
        text-align: center;
        color: #fd2e2e;
    }
    .message {
        text-align: center;
        padding: 20px;
    }
    .user-img-homepage {
        padding: 30px;
        height: 30%;
        width: 30%;
    }
    .select-user{
        padding: 1%;
        margin: 10px;
        color: #931c1c;
    }
    .up-vote{
        padding: 5px;
        margin: 5px;
        margin-bottom: 15px;
        color: #0d720d;
        background-color: #adfcad;
        font-weight: bold;
    }
    .down-vote{
        padding: 5px;
        margin: 5px;
        margin-bottom: 15px;
        color: #400b0b;
        background-color: #fff151;
        font-weight: bold;
    }
    .delete-comment-button{
        padding: 5px;
        margin: 5px;
        margin-bottom: 15px;
        color: #931c1c;
    }
    .post-comment-button{
        padding: 5px;
        margin: 5px;
        margin-top: 10px;
        color: #931c1c;
        background-color: #f7bb95;
    }
    .add-a-comment {
        margin-top: -10px;
        margin-bottom: 10px;
        color: #931c1c;
    }
    .homepage-username{
        color: #931c1c; 
    }
    .no-articles{
        color: #931c1c; 
    }
    .voting-notification{
        font-weight: bolder;
        color: #fff151;
    }
    .comment-box{
        padding: 5px;
        margin: 5px;
        margin-top: 10px;
        height: 40px;
        width: 270px;
        border: 1px solid #931c1c;
    }
    .topic-header{
        text-align: center;
        color: #fd2e2e;
    }
    .article-body-box{
        padding: 5px;
        margin: 5px;
        margin-top: 10px;
        height: 250px;
        width: 275px;
        border: 1px solid #931c1c
    }
    .article-text-box{
        padding: 5px;
        margin: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 250px;
        border: 1px solid #931c1c;
    }
    .post-an-article{
        text-align: center;
        color: #fd2e2e;
    }
    .post-article-div{
        text-align: center;
        padding: 5px;
        margin: 5px;
    }
    .post-article-button{
        padding: 5px;
        margin: 5px;
        margin-top: 10px;
        color: #931c1c;
        background-color: #f7bb95;
    }
    .error-page{
        text-align: center;
        color: #fd2e2e;
    }
    .select-sort-by{
        text-align: center;
        padding: 1%;
        color: #931c1c;
    }
    .select-order-by{
        text-align: center;
        padding: 1%;
        color: #931c1c;
    }
    .comment-text{
        color: #931c1c;
        font-weight: bolder;
    }
    .form-labels{
        color: #931c1c;  
    }
}
@media only screen and (min-width: 768px) {
    .article-img {
        height: 30%;
        width: 30%;
    }
    .article-body-box{
        padding: 5px;
        margin: 5px;
        margin-top: 10px;
        height: 250px;
        width: 500px;
    }
    .user-img-homepage {
        padding: 30px;
        height: 15%;
        width: 15%;
    }
    .nc-logo{
        height: 3%;
        width: 3%;
    }
}
@media only screen and (min-width: 1024px) {
    .article-img {
        height: 22%;
        width: 22%;
    }
    .article-body-box{
        padding: 5px;
        margin: 5px;
        margin-top: 10px;
        height: 250px;
        width: 700px;
    }
    .nc-logo{
        height: 2%;
        width: 2%;
    }
}